<md-card>
  <md-card-title>Notes List</md-card-title>
  <md-card-content>
    <md-list>
      <md-list-item *ngFor="let note of notes" class="link"
                    [routerLink]="['/notes', note.id]">
        {{note.text}}
      </md-list-item>
      <md-list-item *ngIf="notes?.length === 0">
        <p>No notes found.</p>
      </md-list-item>
    </md-list>
    <button md-fab color="accent" class="btn-add" routerLink="add">
      <md-icon>add circle</md-icon>
    </button>
  </md-card-content>
</md-card>
